*{
    background-color: black;
    color: rgb(139, 21, 21);
}

a{
    text-decoration: none;
    background-color: dimgrey; 
    padding: 1px;
    border: 1px solid rgb(139, 21, 21);
}

button{
    text-decoration: none;
    background-color: dimgrey; 
    padding: 1px;
    border: 1px solid rgb(139, 21, 21);
    font-family: 'Palanquin Dark', sans-serif;
}

#header{
    height: 100px;
    width: 100%;
    padding-bottom: 30px;
    color: rgb(139, 21, 21);
    font-size: x-large;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    display: inline-block;
    background-color: black;
}

#createpost{
    height: 10px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: dimgrey;
    color: rgb(139, 21, 21);
    font-size: large;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-style: dashed 1px pink;
}

.feed{
    margin-left: 400px;
    width: 1200px;
    max-height: 1200px;
    display: inline-block;
    color: rgb(139, 21, 21);
    font-family: 'Palanquin Dark', sans-serif;
    border-style: dashed 1px pink;
}

.feed td{
    border: 1px solid rgb(139, 21, 21);
    column-width: auto;
    padding: 20px;
}

#logregform{
    margin-left: 200px;
    width: auto;
    height: auto;
    color: rgb(139, 21, 21);
    display: inline-block;
    font-family: 'Palanquin Dark', sans-serif;
}
